.dark-mode #root{
   background-color: #000;
}
.dark-mode #root h1{
   color: #FFF;
}
.dark-mode #root .nav-link, .dark-mode #root a, .dark-mode #root p, .dark-mode #root label, .dark-mode .navbar-toggler-icon{
   color: #FFF !important;
}
.dark-mode #root .movie-container{
   border: 1px solid #FFF;
}
.dark-mode #root .previous-next__post{
   background-color: #000;
}
.dark-mode #root nav{
   background-color: #171717 !important;
}
.dark-mode #darkModeBTN{
   color: #FFF !important;
   border: 1px solid #FFF !important;
}
.dark-mode .alert-box{
   background-color: #000000a6;
}
#darkModeBTN {
   color: #000000a6 !important;
   position: absolute;
    left: 80%;
}
.dark-mode footer {
   background-color: #151317 !important;

}
.dark-mode .banner-support {
   background: #21212178;
}
.dark-mode .movie-info, .dark-mode #root .titulo-pelicula h1, .dark-mode #root p {
   color: #FFF !important;
}
@media (min-width: 992px){
   #darkModeBTN svg{
      display: block;
   }
   #darkModeBTN{
      cursor: pointer;
      border: 1px solid #000000a6 !important;
   }
}