footer{
    background-color: #342a39;
    color: #ffffff;
    padding: 2em;
    margin-top: 2em;
}
.footer-logo img{
    max-width: 80px;
    margin-bottom: .5em;
}
footer a{
    text-decoration: none;
}
.sitemap-list{
    list-style-type: none;
    padding-left: 0;
}
.friend-sites a{
    display: block;
}