footer{
    background-color: #342a39;
    color: #ffffff;
    padding: 2em;
    width: 100%;
    bottom: 0;
    display: block;
    position: absolute;
}
.footer-logo img{
    max-width: 80px;
    margin-bottom: .5em;
}
footer a{
    text-decoration: none;
    color: white;
}
.sitemap-list{
    list-style-type: none;
    padding-left: 0;
}
.friend-sites a{
    display: block;
}