.main-container-pelicula{
    color: white;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    column-gap: 22px;
    justify-content: center;
    width: 100%;
}
.poster{
    max-width: 282px;
}   
.movie-container{
    max-width: 300px;
    background-color: black;
    width: 100%;
    padding: 0.6em;
}