.main-container-pelicula{
    color: white;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    column-gap: 22px;
    row-gap: 22px;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    justify-content: flex-start;
}
.poster{
    max-width: 282px;
}   
.movie-container{
    max-width: 300px;
    background-color: black;
    width: 100%;
    padding: 0.6em;
}
.movie-container a{
   color: white;
   text-decoration: none;
}
.movie-container p{
   margin-bottom: 0;
}
.movie-container h2{
   margin-top: 16px;
}

@media(max-width:768px){
    .main-container-pelicula{
        justify-content: center;
    }
}
