.movie-info h1 {
    font-weight: 700;
    margin-right: .2em;
    display: inline-block;
}
.titulo-pelicula span{
    display: inline-block;
}

.previous-next__post{
    background-color: #ffffffba;
    font-weight: bold;
    padding: 2rem 2rem 2rem 2rem;
}
.links__container{
    display: flex;
    justify-content: space-between;
}
.links__container a{
    text-decoration: none;
    color: black;
}
.alert-box{
    background-color: #ffffff47;
    color: #000;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: left;
    max-width: 750px;
    margin: 1rem auto 0;
    border: 1px solid black;
}
.alert-box p{
    margin-bottom: 0;
}

.poster img{
    width: 100%;
    height: auto;
}
.poster{
    max-width: 303px;
    width: 100%;
    max-height: 382px;
}
.movie-info{
    margin-left: 4%;
    margin-top: 64px;
    color: #000;
}
.main-movie-banner{
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 1px 1px 79px 273px #5b5b5b4d;
    background-position: center;
}
.banner-support{
    padding: 4%;
    background: #b7bfd87d;
}

video{
    max-width: 800px;
    display: flex;
    margin: 32px auto;
    margin-bottom: 0;
    padding-bottom: 32px;
        width: 100%;
        padding: 16px;
}
.inicia-sesion{
    color: white;
    text-align: center;
    padding: 32px 0;
    margin-bottom: 0;
    font-size: 2.25rem;
    font-weight: 800;
}
.comment-box {
    margin: 0 auto;
    max-width: 300px;
}
.comment-box textarea{
   
}
.comment-box button{
   display: block;
}
.comment-from-local{
    color: white;
    text-align: center;
}
.rate-this--span{
    color: white;
    text-align: right;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 800;
}
.rate-this--container{
  margin-left: 4%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  align-items: end;
}